---
http_interactions:
- request:
    method: post
    uri: https://mandrillapp.com/api/1.0/messages/send-template.json
    body:
      encoding: UTF-8
      string: '{"key":"abc123","template_name":"order_confirmation","message":{"from_email":"spree@example.com","from_name":"spree@example.com","to":[{"email":"spree@example.com"},{"email":"spree2@example.com"},{"email":"spree3@example.com"}],"bcc_address":"","subject":"Order
        R123456 was shipped!","global_merge_vars":[{"name":"customer.name","content":"John
        Smith"},{"name":"order.total","content":"100.00"},{"name":"order.tracking","content":"XYZ123"}]},"template_content":[{"name":"User
        1","content":"Content 1"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"email":"spree@example.com","status":"sent","_id":"b74154e401ad4f5db118fbd49fac236f","reject_reason":null},{"email":"spree2@example.com","status":"sent","_id":"04b05123de7b4d31a9ddb9cfdaf47e40","reject_reason":null},{"email":"spree3@example.com","status":"sent","_id":"3d8c2bcaca054fa581ff01b0ee0bb61c","reject_reason":null}]'
  recorded_at: Thu, 31 Jul 2014 11:22:57 GMT
recorded_with: VCR 2.9.2
